<div class="d-flex align-items-center justify-content-center" style="min-height: 100vh;">
  <div class="container" [ngStyle]="{'margin-top': '50px'}">
      <div class="form-group">
        <div class="card text-center">
          <div class="card-header">
            <div class="search-container">
              <h2 [ngStyle]="{'color': 'blue'}">{{author.name}}</h2>
            </div>
            <div class="router-link-container">
              <div [routerLink]="''" class="router-link"><mat-icon>home</mat-icon></div>
            </div>
          </div>
          <div *ngIf="authorArticlesArray.length > 0 ; else noFound">
            <div *ngFor="let article of authorArticlesArray" class="card-body text-center">
              <div class="card-body">
                <a [ngStyle]="{'color': 'blue', 'margin-top.px': 10}"
                  routerLink="/articles/{{article.title}}">{{article.title}}</a>
                <p class="card-text">{{article.body | shorten:550 }}
                  <a [ngStyle]="{'color': 'blue', 'margin-top.px': 10}" *ngIf="article.body.length > 150"
                    routerLink="/articles/{{article.title}}">read more
                  </a>
                </p>
                <div class="card-footer text-muted">
                  by {{ article.author.name }}
                </div>
              </div>
              <hr [ngStyle]="{'border-top': '2px solid blue'}">
            </div>
          </div>
        </div>
      </div>
  </div>
</div>


<ng-template #noFound>Sorry. No articles where found.</ng-template>
