.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/assets/images/errorpage.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 50%;
}

.content {
  text-align: center;
  padding: 20px;
}
